.wrapper {
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(120, 112, 230), pink);
    
  }
 
  .container {
    margin: 0;
  }
  
  .btn {
    width: 200px;
    height: 60px;
    background-color: rgb(148, 147, 211);
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
    box-shadow: 4px 4px 4px #48464d;
    color: ghostwhite;
  }
  
  .btn:hover {
    filter:brightness(120%);
  }
  